*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url(女.jpg);
    background-size: cover;/*用url(方式的话，不设置cover就会一个页面只显示图片的一小部分，cover把背景图片放大到适合元素容器的尺寸，图片比例不变，但是要注意，超出容器的部分可能会裁掉。)*/
    
    background-position: center;/*缩放浏览器窗口可以保持显示中间部分*/
}

section:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;/*变成和父元素同宽高*/
    background: url(1.jpg);
    background-position: center;
    background-size: 100%;/*设置100%可以保持图片居中，也同比例，但是浏览器视窗一个图片盖不住的地方会再复制一份盖住*/
    mix-blend-mode: screen;
}